*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content:center;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(231, 225, 214);
    color: black;
  
 
}
ul{
    list-style-type: none;
    display:flex;
    margin-top: 1rem;
    flex-direction: column;


}
ul li a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 1rem;
}
ul li a p {
    margin-left: 2rem;

}
.Container{
    display:flex;
    padding: 2rem;
    flex-direction: column;
    border-radius: 2rem;
    background-color:rgba(128, 0, 128, 0.377);
    color:black;
    width: 20rem;
    margin: 2rem;
    font-family: 'Times New Roman', Times, serif;

}
.img1{

    width: 120px;
    margin-bottom: 2rem;
    border-radius: 15%;
    
    

}
.iconContainer{
    display:flex;
    justify-content: space-between;
    margin-top: 1rem;
    border-radius: 10%;
    text-decoration: none;


}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
h2{
    margin-bottom: 1rem;
}
.circle{
    height: 30px;
    width: 35px;
    background-color:rgba(111, 0, 255, 0.384);
    justify-content: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
